/* Custom Settings Here */

$font-family-sans-serif: 'Noto Sans TC', sans-serif;

$container-max-widths: (
  sm: 540px,
  //   md: 540px,
  //   lg: 540px,
  //   xl: 540px,,,
);

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap-vue/src/variables';
